
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
@font-face {
    font-family: "letraCursiva";
    src: url(fonte/font.woff);
}

@font-face {
    font-family: "rebeca";
    src: url(fonte/rebeca\ \(2\).woff);
}

@font-face {
    font-family: "american";
    src: url(fonte/American.woff);
}


/*header*/

.header{
    height: 800px;
    background-image: url(img/capainicial.jpg);
    background-size: cover;
}

.header .menu{
height: 90px;
display: flex;
justify-content: space-around;
align-items: center;

}
.header .menu .nav{
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
}

.header .menu .nav .direita{
    position: relative;
    right:315px;
}

.header .menu .nav a{
    margin-left: 25px;
    color: rgb(245, 245, 245);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.header .menu .nav a:hover{
    border-bottom: 1px solid rgb(240, 239, 239);
    padding-bottom: 5px;
}

.header .menu .icons{
display: flex;
justify-content: center;
align-items: center;
position: relative;
left: -80px;
}

.header .menu .icons i{
    font-size: 16px;
    margin-left: 18px;
    color: rgb(223, 219, 219);
}

.header .menu .icons i:hover{
    color: gray;
}

.header .menu .btn{
    width: 200px;
    height: 55px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.904);
    font-size: 14px;
    color: #fff;
    transition: all 2s;
}

.header .menu .btn:hover{
   letter-spacing: 1px;
}

.header .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:220px ;
}

.header .titulo h1{
    font-size: 85px;
    font-weight: 500;
   font-family: 'IBM Plex Sans Arabic', sans-serif;
   font-weight: 500;
    color: #fff;
}

.header .titulo h3{
    margin-top: 25px;
    font-size: 45px;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
}

.header .titulo h3 i{
    font-size: 10px;
    position: relative;
    top: -10px;
    margin-left: 21px;
    margin-right: 21px;
}

.header .titulo h5{
    margin-top: 15px;
    color: #fff;
    font-weight: 100;
    font-family: 'Poppins',sans-serif;
}

/*section one*/

section.sectionone {
    height: 600px;
    background-image: url(img/fundolaranja.jpg);
    background-size: cover;
}

section.sectionone .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 120px;
    left: 450px;
    width: 55%;
    height: 420px;
}

section.sectionone .box h1{
    font-size: 35px;
    text-align: center;
    color:#206650 ;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.sectionone .box h2{
    font-family: 'rebeca';
    font-size: 10px;
    color:gray;
}

section.sectionone .box .prim_prgf{
    font-size: 30px;
    font-weight: 100;
    color: #504a4a;
    width: 600px;
    font-family: 'american';
}

section.sectionone .box p{
 width: 620px;
 text-align: center;
 font-weight: 100;
 color: #504a4a;
 font-family: 'Poppins',sans-serif;
}

section.sectionone .box  span{
    color: #0e4232;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 19px;
}